
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100%;
  position: relative;
}

body {
  font-family: sans-serif;
  font-size: 1.1rem;
  background-color: #303030;
  color: #fff;
}

header,
main {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

main,
footer {
  padding-bottom: 4rem;
}

header {
  text-align: center;
  display: block;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
}

header h1 {
  font-size: 3rem;
  padding: .25rem;
  margin-bottom: 0;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: .25rem;
  margin-bottom: 2rem;
}

header a:visited {
  color: #fff;
}

header nav a {
  /*color: #fff;*/
  margin: .5rem;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

section {
  /*background-color: rgba(22, 21, 21, 0.85);*/
  /*color: #fff;*/
  padding-bottom:.01rem;
  margin-bottom: 2rem;
  border: .125rem solid rgba(0,0,0,0);
  border-top: 0;
}

section:target {
  border-color: rgba(247, 219, 7, 1);
}

section h1 {
  /*font-family: 'KellySlab', Arial, sans-serif;*/
  font-size: 2rem;
  font-weight: normal;
  position: relative;
  /*background-color: rgba(247, 219, 7, 1);*/
  /*color: #000;*/
  padding: .25rem;
  padding-left: 1.25rem;
  margin-top: 0;
  margin-left: -.875rem;
  margin-right: -.125rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
section p {
  margin-left: 1rem;
  margin-right: 1rem;
}

section ul li {
  font-size: 1.5rem;
}

a {
  /*color: white;*/
  /*text-decoration: none;*/
  /*border-bottom:2px solid white;*/
  transition: background 250ms ease-in-out, color 250ms ease-in-out, transform 150ms ease;
}

a:link {
  color: white;
}

a:visited {
  color: #bbb;
}

a:focus,
a:hover {
  /*color: black;*/
  /*background-color: rgba(247, 219, 7, 1);*/
  /*border-bottom: 2px solid white;*/
}

a:active {

}

a.button {
  /*color: #000;*/
}

button,
a.button {
    border: none;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    background: #0277BD;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    width: 25rem;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
  background: #0168A6;
}

button:focus,
a.button:focus {
  outline: .25rem solid #FFF;
  outline-offset: -.25rem;
}

button:active,
a.button:active {
    transform: scale(0.99);
}

footer {
  padding: 2rem;
  background-color: #222;
  text-align: center;
}

footer a {
  display: inline-block;
  margin: .5rem;
}

.title {
  display: none;
}

.logo {
  max-width: 25rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.scroll-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 100vh;
  bottom: 0;
  width: 4rem;
  overflow: visible;
}

.scroll-container-wrapper {
  align-self: flex-end;
  position: sticky;
  bottom: 1rem;
  background-color: rgba(0,0,0, .8);
}

.scroll-container-wrapper a {
  color: #fff;
  display:block;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  font-size: 3rem;
}
